@{
    ViewData["Title"] = "Brak dostępu";
}

<h2>Brak dostępu</h2>
<p>Nie masz uprawnień do przeglądania tej strony.</p>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Wróć do strony głównej</a>