@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container text-center my-5 about-section">
    <h1 class="about-header">O aplikacji</h1>

    <p class="lead">
        W TravelApp znajdziesz szczegółowe relacje z podróży,  
        system ocen i komentarzy, a także możliwość śledzenia użytkowników.  
        Aplikacja posiada również funkcje administracyjne  
        i moderacyjne zapewniające wysoką jakość treści.
    </p>

    <hr class="section-divider">   
</section>

<div class="container mt-5">
    <h2 class="text-center">📌 Funkcje aplikacji</h2>
    
    <div class="text-start mt-4">
        <h4 class="feature-category">🧑‍💻 Użytkownik</h4>
        <ul class="list-unstyled">
            <li>- Rejestracja użytkownika</li>
            <li>- Logowanie użytkownika</li>
            <li>- Wylogowanie użytkownika</li>
            <li>- Edycja danych użytkownika</li>
            <li>- Wyświetlenie podstrony "Strona główna"</li>
            <li>- Wyświetlenie podstrony "O aplikacji"</li>
            <li>- Wyświetlenie podstrony "Relacje" z listą relacji użytkowników</li>
            <li>- Wyświetlenie szczegółów relacji</li>
            <li>- Zmiana widoku listy relacji</li>
            <li>- Sortowanie listy relacji</li>
            <li>- Wyszukiwanie relacji według tagu</li>
            <li>- Resetowanie ustawień listy relacji</li>
            <li>- Dodanie nowej relacji</li>
            <li>- Edycja relacji</li>
            <li>- Usunięcie relacji</li>
            <li>- Ocena relacji</li>
            <li>- Dodanie komentarza do relacji</li>
            <li>- Usunięcie komentarza do relacji</li>
            <li>- Wyświetlenie profilu użytkownika</li>
            <li>- Dodanie użytkownika do grona obserwowanych</li>
            <li>- Usunięcie użytkownika z grona obserwowanych</li>
            <li>- Wyświetlenie listy obserwowanych</li>
            <li>- Wyświetlenie listy obserwujących</li>
            <li>- Zgłoszenie relacji</li>
            <li>- Wyświetlenie relacji zalogowanego użytkownika</li>
            <li>- Wyświetlenie podstrony "Poradniki" z listą poradników</li>
            <li>- Wyświetlenie szczegółów poradników</li>
            <li>- Wyświetlenie podstrony "Kontakt"</li>
        </ul>

        <h4 class="feature-category mt-4">🛡️ Moderator/Administrator</h4>
        <ul class="list-unstyled">
            <li>- Wyświetlenie podstrony "Zgłoszenia" z listą zgłoszeń użytkowników</li>
            <li>- Usunięcie zgłoszenia użytkownika</li>
            <li>- Usunięcie relacji użytkownika</li>
        </ul>

        <h4 class="feature-category mt-4">⚙️ Administrator</h4>
        <ul class="list-unstyled">
            <li>- Wyświetlenie podstrony "Panel administracyjny" z danymi zarejestrowanych użytkowników</li>
            <li>- Zmiana roli użytkownika</li>
            <li>- Usunięcie użytkownika</li>
            <li>- Dodanie poradnika</li>
            <li>- Edycja poradnika</li>
            <li>- Usunięcie poradnika</li>
        </ul>
    </div>
</div>
