@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container text-center my-5 contact-section">
    <h1 class="contact-header">Kontakt</h1>
    
    <p class="lead">
        Masz pytania? Chcesz dowiedzieć się więcej o TravelApp?  
        Skontaktuj się z nami – jesteśmy tutaj, aby pomóc!
    </p>

    <hr class="section-divider">

    <p class="contact-text">
        Aplikacja TravelApp została stworzona w ramach części projektowej  
        pracy inżynierskiej przez <strong>Wojciecha Kusztal</strong>.  
        Projekt powstał z pasji do podróży i technologii,  
        umożliwiając użytkownikom odkrywanie nowych miejsc oraz dzielenie się relacjami z wyjazdów.
    </p>

    <p class="contact-text">
        Jeśli masz pytania lub chcesz dowiedzieć się więcej,  
        skontaktuj się ze mną pod adresem:  
        <a href="mailto:wkusztal@us.edu.pl" class="contact-email">wkusztal@us.edu.pl</a>.
    </p>
</section>